$white: #fff;
$black: #000;
$slate: #2a2a2a;
$beige: #f2f1f1;

// Issue 1
$light-blue: #408ab6;
$medium-blue: #355c7f;
$dark-blue: #233040;

// Issue 2
$light-green: #66a05a;
$medium-green: #437567;
$dark-green: #1d3a41;

// Issue 3
$light-red: #dd594d;
$dark-red: #8f3948;

// Issue 4
$medium-purple: #6b6d88;
$dark-purple: #21253a;
$hay: #c6c1a1;

// Issue 5
$issue-five-blue: #416eb4;
$issue-five-dark-blue: #0e304f;
$issue-five-turquoise: #2eafc3;
$issue-five-yellow: #dfb265;
$issue-five-darker-blue: #2d3b54;

// Issue 6
$issue-six-orange: #e3745e;
$issue-six-dark-blue: #24293b;
$issue-six-green: #9bb765;
$issue-six-purple: #585d88;

// Issue 7
$issue-seven-red: #a02744;
$issue-seven-black: #000;
$issue-seven-orange: #db484c;
$issue-seven-blue: #637e8a;
