section.faqs {
    padding-top: 3rem;

    .section-header {
        padding-bottom: 1rem;

        h2 {
            color: $dark-blue;
            font-weight: 900;
            font-size: clamp(1.25rem, 2vw, 2rem);
            line-height: 1.25em;
            font-family: $interstate-mono;
        }
    }

    .faq {
        & + .faq {
            margin-top: 2rem;
            border-top: 1px solid #eee;
            padding-top: 2rem;
        }

        .question {
            padding-bottom: 1rem;

            h3 {
                color: $medium-blue;
                font-weight: 900;
                font-size: clamp(1rem, 1.2vw, 1.25rem);
                line-height: 1.25em;
                font-family: $interstate-mono;
            }
        }

        .answer {
            font-size: clamp(1rem, 1.25vw, 1.25rem);
            line-height: 1.75em;

            a {
                text-decoration: underline;
            }
        }
    }
}
