body.post-type-archive-news {
    @include page-header;

    .posts {
        @include tablet {
            min-height: 25vh;
        }
    }

    article.news {
        display: grid;        
        gap: 0 2rem;

        @include tablet {
            grid-template-columns: 1fr 3fr;
        }

        & + article.news {
            margin-top: 3rem;
            border-top: 1px solid #eee;
            padding-top: 3rem;
        }

        .meta {
            padding-bottom: 1rem;

            .date {
                display: block;
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }
        }

        .headline {
            padding-bottom: 1rem;

            @include tablet-small {
                margin-top: -0.25rem;
            }

            h3 {
                font-family: $adams;
                font-size: clamp(1.25rem, 2vw, 1.5rem);
                line-height: 1.25em;

                a {
                    color: $medium-blue;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .excerpt {
            p {
                font-size: clamp(1rem, 1.1vw, 1.125rem);
                line-height: 1.5em;
            }

            a {
                font-style: italic;
                text-decoration: underline;
                color: $medium-blue;
            }
        }
    }
}