body.post-type-archive-issue {
    .page-header {
        text-align: center;

        & > * {
            @include desktop-small {
                grid-column: 4 / span 8;
            }
        }
    }
    .issue-index {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 4rem;

        & > * {
            @include desktop-small {
                grid-column: 4 / span 8;
            }
        }

        .issue {
            & + .issue {
                padding-top: 4rem;

                @include desktop-small {
                    padding-top: 6rem;
                }
            }

            h4 {
                padding-bottom: 1rem;
                text-transform: uppercase;
                font-size: clamp(0.6125rem, 0.7vw, 0.8125rem);
                letter-spacing: 0.15em;
                font-family: $fournier-std-grand;
                color: $slate;
            }

            h3 {
                font-family: $adams;
                font-weight: normal;

                a {
                    color: $slate;
                    padding-bottom: 0.25rem;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &.volume-one h3 a {
                border-bottom: 2px solid $medium-blue;
            }

            &.volume-two h3 a {
                border-bottom: 2px solid $medium-green;
            }

            &.volume-three h3 a {
                border-bottom: 2px solid $dark-red;
            }

            &.volume-four h3 a {
                border-bottom: 2px solid $medium-purple;
            }

            &.volume-five h3 a {
                border-bottom: 2px solid $issue-five-turquoise;
            }

            &.volume-six h3 a {
                border-bottom: 2px solid $issue-six-orange;
            }

            &.volume-seven h3 a {
                border-bottom: 2px solid $issue-seven-red;
            }
        }
    }
}
