body.page-template-events {
    @include page-header;


    section.events {
        & + section.events {
            padding-top: 6rem;

            .section-header {
                border-top: 1px solid $light-blue;
                padding-top: 6rem;

            }
        }

        .section-header {
            padding-bottom: 2rem;
        }

        & + .newsletter-sign-up {
            padding-top: 6rem;
        }
    }

    .event {
        display: grid;        
        gap: 0 2rem;
        grid-template-columns: 1fr 3fr;

        @include desktop-small {
            grid-template-columns: 1fr 5fr;
        }

        & + .event {
            margin-top: 3rem;
            border-top: 1px solid #eee;
            padding-top: 3rem;
        }

        .date {
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.1em;

            .month,
            .day {
                display: block;
                max-width: 5rem;
                text-align: center;
                font-family: $fournier-std-grand;
            }

            .month {
                background: $light-blue;
                color: $white;
                padding: 0.5rem;
                font-size: 0.875rem;
            }

            .day {
                padding: 1rem;
                border: 1px solid $light-blue;
                border-top: none;
                font-size: 1.5rem;
                color: $light-blue;

            }
        }

        &-title {
            h3 {
                font-family: $adams;
                color: $medium-blue;
                font-size: clamp(1.25rem, 1.5vw, 1.5rem);
            }

            & + .event-description {
                padding-top: 1rem;
            }
        }

        &-date-time {
            padding: 1rem 0;

            h4 {
                text-transform: uppercase;
                letter-spacing: 0.15em;
                font-size: clamp(0.75rem, 0.9vw, 0.875rem);
            }
        }

        &-description {
            p {
                font-size: clamp(0.875rem, 1.2vw, 1.125rem);
                line-height: 1.5rem;
            }
        }

        &-cta {
            padding-top: 1rem;

            .btn {
                display: inline-block;
                background: $medium-blue;
                color: $white;
                padding: 0.5rem 1rem;
                font-family: $interstate-mono;
                font-size: 0.875rem;
                letter-spacing: 0.05em;
            }
        }

        &.recording,
        &.no-events {
            grid-template-columns: 1fr;
        }
    }    

}